*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fafafa;
  font: 15px "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container {
  max-width: 98rem;
  margin: 4rem 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fafafa;
  font: 15px "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container {
  max-width: 98rem;
  margin: 4rem 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header .title-1 {
  font: 400 1.5rem "Poppins", sans-serif;
  color: #a3a5ae;
}

.header .title-2 {
  font: 700 1.55rem "Poppins", sans-serif;
  color: #4c4e61;
}

.header p {
  font: 400 1rem "Poppins", sans-serif;
  color: #a3a5ae;
  margin-top: 1rem;
  max-width: 35rem;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fafafa;
  font: 15px "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container {
  max-width: 98rem;
  margin: 4rem 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fafafa;
  font: 15px "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container {
  max-width: 98rem;
  margin: 4rem 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header .title-1 {
  font: 400 1.5rem "Poppins", sans-serif;
  color: #a3a5ae;
}

.header .title-2 {
  font: 700 1.55rem "Poppins", sans-serif;
  color: #4c4e61;
}

.header p {
  font: 400 1rem "Poppins", sans-serif;
  color: #a3a5ae;
  margin-top: 1rem;
  max-width: 35rem;
}

.content {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.content .card {
  background: #FFF;
  position: relative;
  overflow: hidden;
  border-radius: 0.6rem;
  padding: 2rem;
  max-height: 16.66rem;
  -webkit-box-shadow: 0 5px 20px rgba(163, 165, 173, 0.6);
          box-shadow: 0 5px 20px rgba(163, 165, 173, 0.6);
}

.content .card .bar {
  height: 0.3rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.content .card h2 {
  font: 700 1.3rem "Poppins", sans-serif;
  color: #4c4e61;
  margin-bottom: 0.5rem;
}

.content .card p {
  font: 400 0.82rem "Poppins", sans-serif;
  color: #a3a5ae;
  max-width: 20rem;
  margin-bottom: 2.5rem;
}

.content .card .image {
  text-align: right;
}

.content .col-1 .card > .bar {
  background: #45d3d3;
}

.content .col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.content .col-2 .card:first-child > .bar {
  background: #ea5353;
}

.content .col-2 .card:last-child > .bar {
  background: #fcaf4a;
}

.content .col-3 .card > .bar {
  background: #549ef2;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fafafa;
  font: 15px "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container {
  max-width: 98rem;
  margin: 4rem 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fafafa;
  font: 15px "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container {
  max-width: 98rem;
  margin: 4rem 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header .title-1 {
  font: 400 1.5rem "Poppins", sans-serif;
  color: #a3a5ae;
}

.header .title-2 {
  font: 700 1.55rem "Poppins", sans-serif;
  color: #4c4e61;
}

.header p {
  font: 400 1rem "Poppins", sans-serif;
  color: #a3a5ae;
  margin-top: 1rem;
  max-width: 35rem;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fafafa;
  font: 15px "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container {
  max-width: 98rem;
  margin: 4rem 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

*, ::after, ::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fafafa;
  font: 15px "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container {
  max-width: 98rem;
  margin: 4rem 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header .title-1 {
  font: 400 1.5rem "Poppins", sans-serif;
  color: #a3a5ae;
}

.header .title-2 {
  font: 700 1.55rem "Poppins", sans-serif;
  color: #4c4e61;
}

.header p {
  font: 400 1rem "Poppins", sans-serif;
  color: #a3a5ae;
  margin-top: 1rem;
  max-width: 35rem;
}

.content {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.content .card {
  background: #FFF;
  position: relative;
  overflow: hidden;
  border-radius: 0.6rem;
  padding: 2rem;
  max-height: 16.66rem;
  -webkit-box-shadow: 0 5px 20px rgba(163, 165, 173, 0.6);
          box-shadow: 0 5px 20px rgba(163, 165, 173, 0.6);
}

.content .card .bar {
  height: 0.3rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.content .card h2 {
  font: 700 1.3rem "Poppins", sans-serif;
  color: #4c4e61;
  margin-bottom: 0.5rem;
}

.content .card p {
  font: 400 0.82rem "Poppins", sans-serif;
  color: #a3a5ae;
  max-width: 20rem;
  margin-bottom: 2.5rem;
}

.content .card .image {
  text-align: right;
}

.content .col-1 .card > .bar {
  background: #45d3d3;
}

.content .col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.content .col-2 .card:first-child > .bar {
  background: #ea5353;
}

.content .col-2 .card:last-child > .bar {
  background: #fcaf4a;
}

.content .col-3 .card > .bar {
  background: #549ef2;
}

@media (min-width: 500px) {
  .header .title-1 {
    font-size: 2.2rem;
  }
  .header .title-2 {
    font-size: 2.25rem;
  }
}

@media (min-width: 850px) {
  .container {
    margin: 3rem 1.7rem;
  }
  .container .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container .content .card > p {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */